<!doctype html>
<html lang="en">

<head>
  <title>دورهمی لاراول تهران</title>
  <meta charset="UTF-8">
  <meta name="author" content="Laratalks.ir">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

  <link rel="shortcut icon" href="/favicon.png?v=2.1">

  <meta property="og:title" content="laratalks | دورهمی لارول تهران" />
  <meta property="og:site_name" content="دورهمی لاراول تهران" />
  <meta property="og:description" content="دورهمی هفتگی برنامه نویسان لاراول تهران در این نشست ها حول توسعه نرم افزار، استارت آپ ها و کلا دنیای آی.تی بحث میشه." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://laratalks.com" />
  <meta property="og:image" content="http://laratalks.com/dist/img/laravel-azadi.png" />
  <meta name="google-site-verification" content="8zyPhoEN9PT4d24IP4du6r3fgZTMB6YKiiNvjnHmrwU" />

  <link rel="stylesheet" href="dist/css/style.min.css?v=1.1" media="all">
</head>

<body>
  <header class="masthead">
    <div class="overlay"></div>
    <section class="masthead__content">
      <h1>دورهمی برنامه نویسان لاراول تهران</h1>
    </section>
    <footer class="masthead__arrow">
      <h2 style="text-align: left; direction: ltr">#laratalks , #laravelir</h2>
      <a href="#"><i class="fa fa-chevron-circle-down fa-2x"></i></a>
    </footer>
  </header>

  <!-- Main Wrapper -->
  <section class="main-wrapper show-side-nav">

    <!-- Intro -->
    <section class="section section--intro" id="intro">
      <section class="wrapper">

        <header class="section-header">
          <h1>دورهمی لاراول تهران</h1>
          <h3>جلسه بعدی، پنج‌شنبه ۱۳ آبان ۱۳۹۵ از ساعت ۱۷:۰۰ الی ۱۹:۰۰</h3>
        </header>

        <section class="grid-wrap col-set-one-half tablet-col-set-full">
          <article class="grid-col">
            <p>لاراول یه فریم ورک باحاله که استارت آپ های زیادی تو ایران و بیرون از ایران ازش استفاده میکنن. تو ایران به خاطر رایج تر بودن زبان پی اچ پی نسبت به انتخاب های دیگه مثل پایتون و روبی برای توسعه در وب برنامه نویسای باحال لاراولی زیاد داریم. برای
              همین ما تصمیم گرفتیم هر دو هفته یک بار جلساتی رو ترتیب بدیم و با هم درباره مسائل روز در دنیای استارت آپ ها،‌ آی تی و مخصوصا لارول بحث میکنیم. </p>
            <a href="#event-registration" class="btn"><i class="fa fa-map-marker"></i> منم این هفته میام</a>
            <p class="small"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; لاراتاکز هر دو هفته یک بار تو دفتر یه شرکت، یه کافه یا یه پارک برگزار میشه.</p>
          </article>
          <article class="grid-col">
            <figure class="showcase grayable"></figure>
          </article>
        </section>
        <section class="social">
          <p><i class="fa fa-twitter"></i> از هش‌تگ <span class="hash"><a href="https://twitter.com/intent/tweet?hashtags=laratalks&amp;via=laratalks_com" target="_blank">#laratalks</a></span> و <span class="hash"><a href="https://twitter.com/intent/tweet?hashtags=laravelir&amp;via=laratalks_com" target="_blank">#laravelir</a></span>            در شبکه‌های اجتماعی استفاده کنید.</p>
        </section>

        <section class="social">
          <p><i class="fa fa-bell"></i> <span class="hash"><a target="_blank" href="https://jobinja.ir/laravel-jobs">فرصت‌های شغلی مربوط به لاراول</a></span></p>
        </section>

      </section>
    </section>

    <!-- /Intro -->

   



    <!-- Schedule -->
    <section class="section section--schedule" id="schedule">
      <section class="wrapper">

        <header class="section-header">
          <h1><i class="fa fa-calendar-o"></i> برنامه جلسات </h1>
          <h3>بلاگ ما رو دنبال کنید (به زودی...)</h3>
          <h3>به <a href="http://laravelista.ir" style="text-decoration: none; color: #FA7161;" target="_blank">انجمن لاراولیستا</a> بپیوندید</h3>
        </header>

        <section id="event-registration">
          <article style="text-align: center;">
            <h1>برای شرکت در جلسه <a style="text-decoration: none; color: rgb(250, 113, 97);" href="https://evand.ir/laratalks">بلیت (رایگان)</a> تهیه کنید</h1>
          </article>
        </section>

        <section class="schedule">
         <article class="schedule__row">
            <aside>
              پنج‌شنبه ۱۳ آبان
            </aside>
            <section>
              <h3>مقدمه‌ای بر Domain Driven Design (DDD)</h3>
              <h4>مرتضی پروینی</h4>
              <p> در این جلسه مرتضی پروینی ارائه‌ای با عنوان «مقدمه‌ای بر Domain Driven Design» خواهد داشت و در ادامه شرکت‌کنندگان به بحث آزاد و شبکه‌سازی خواهند پرداخت.
                <p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج‌شنبه ۲۹ مهر
            </aside>
            <section>
              <h3>Service Container‌</h3>
              <h4>بهزاد شعبانی</h4>
              <p>در این جلسه بهزاد شعبانی در مورد Service Container‌ها صحبت خواهد کرد.
                <p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج‌شنبه ۲۶ فروردین
            </aside>
            <section>
              <h3>Zero down-time PHP deployment</h3>
              <h4>رضا شادمان</h4>
              <p>در این جلسه رضا شادمان در مورد عملیات deploy پروژه به وسیله deployer.org صحبت خواهد کرد.
                <p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              جمعه ۴ دی
            </aside>
            <section>
              <h3>What's new in PHP 7</h3>
              <h4>رسول عبدالهی</h4>
              <p>در این جلسه رسول عبدالهی در مورد ویژگی‌های جدید PHP 7 و نحوه نصب و استفاده آن ارائه‌ای خواهد داشت و ادامه جلسه به بحث آزاد خواهیم پرداخت.
                <p>
            </section>
          </article>

          <article class="schedule__row">
            <aside>
              پنج‌شنبه ۷ آبان
            </aside>
            <section>
              <h3>GraphDB</h3>
              <h4>احمد مقدس‌‌خو</h4>
              <p>بعد از وقفه‌ای طولانی، در این جلسه احمد مقدس‌خو قراره برامون در مورد پایگاه‌های داده بر پایه گراف صحبت کنه.
                <p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              جمعه ۱۳ شهریور
            </aside>
            <section>
              <h3>Git</h3>
              <h4>بهزاد شعبانی</h4>
              <p>در این جلسه بهزاد شعبانی در مورد سیستم‌های ورژن‌کنترل بالاخص git صحبت می کنه و در ادامه بحث آزاد خواهیم داشت.
                <p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              جمعه ۳۰ مرداد ۱۳۹۴
            </aside>
            <section>
              <h3>Design Patterns</h3>
              <h4>پدرام مرندی</h4>
              <p>در این جلسه پدرام مرندی، در مورد Design Patternهای Strategy و Facade که در فریم‌ورک لاراول زیاد استفاده شده، برامون صحبت می‌کنه
                <p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              جمعه ۵ تیر ۱۳۹۴
            </aside>
            <section>
              <h3>پایگاه‌های داده NoSql</h3>
              <h4>احمد کریم‌پور</h4>
              <p>احمد‌کریم‌پور قراره برامون در مورد پایگاه‌های داده NoSql صحبت کنه و به معرفی و مقایسه چند نمونه از پایگاه‌داده‌های معروف بپردازه.</p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج شنبه ۲۱ خرداد ۹۴
            </aside>
            <section>
              <h3>JWT و راهکارهای اعتبار سنجی</h3>
              <h4>امیر حبیب زاده</h4>
              <p>امیر حبیب زاده قرارهست برامون درمورد JWT یا همون JSON Web Tokens صحبت کنه. بحثی هم خواهیم داشت درباره امن تر کردن API ها و همین طور دیگر پروتوکل های اعتبار سنجی.</p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج شنبه ۳۱ اردیبهشت ۱۳۹۴
            </aside>
            <section>
              <h3>بررسی کامل Elasticsearch و استفاده آن در لاراول</h3>
              <h4>رضا شادمان</h4>
              <p>در این جلسه قرار هست درباره ویژگی ها و کاربردهای Elasticsearch بحث مفصلی داشته باشیم. همینطور در مرود این صحبت میکنیم که چطور از Elasticsearch داخل اپلیکیشن لاراولیمون استفاده کنیم.</p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج شنبه ۳ اردیبهشت ۱۳۹۴
            </aside>
            <section>
              <h3>میکرو فریم ورک لومن، پترن Repository و Elasticsearch</h3>
              <h4>مرتضی پروینی، رضا شادمان</h4>
              <p>تو این جلسه قراره درباره ی فریم ورک جدیدی که از طرف لاراول منتشر شده، الگوری طراحی ریپازیتوری و همینطور استفاده ی Elasticsearch در اپلیکیشن های لاراولی صحبت کنیم.</p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج‌شنبه 7 اسفند 1393
            </aside>
            <section>
              <h3>جلسه ششم</h3>
              <p>در این جلسه دوستان در مورد روتر و کنترلر‌ها در لاراول 5 صبحت می‌کنند و در ادامه به بحث‌آزاد می‌پردازیم. </p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج‌شنبه 23 بهمن 1393
            </aside>
            <section>
              <h3>جشن انتشار لاراول 5</h3>
              <h4>بهزاد شعبانی - امیر حبیب‌زاده</h4>
              <p>در این جلسه ابتدا امیر حبیب زاده برامون از تغییرات نسخه جدید لاراول و مقدمه‌ای برای شروع کار با لاراول5 رو میگه. بعد از اون بهزاد شعبانی در مورد Command-Bus در لاراول 5 صحبت می‌کنه. در آخر هم جشن کوچکی برای انتشار نسخه پنجم لاراول خواهیم
                داشت.
              </p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج شنبه 9 بهمن
            </aside>
            <section>
              <h3>بحث آزاد</h3>
              <h4>همه بچه‌ها</h4>
              <p>در این جلسه شرکت کنندگان در مورد لاراول 5، الگوهای طراحی و ساختار پروژه‌ها با هم به بحث و گفتگو خواهند پرداخت.</p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنج شنبه ۲ بهمن
            </aside>
            <section>
              <h3>طراحی و توسعه یک CMS</h3>
              <h4>همه بچه‌ها</h4>
              <p>قرار هست تو این جلسه درباره طراحی و توسعه ی یک CMS بر پایه لاراول صحبت کنیم.</p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنجشنبه، ۱۸ دی، ۱۳۹۳
            </aside>
            <section>
              <h3>توسعه تست محور</h3>
              <h4>احمد کریم پور</h4>
              <p>تو این جلسه احمد کریم پور درباره توسعه تست محور، انواع تست و نحوه پیاده سازی صحبت کرد. و همینطور رایگیری کردیم در جلسات بعدی حول چه موضوعی صحبت کنیم.</p>
            </section>
          </article>
          <article class="schedule__row">
            <aside>
              پنجشنبه، ۱۱ دی، ۱۳۹۳
            </aside>
            <section>
              <h3>معرفی و آشنایی</h3>
              <h4>همه بچه ها</h4>
              <p>تو جلسه پنج شنبه با هم آشنا شدیم و درباره اینکه چیکار کنیم که این جلسه ها برگزار شن و اینکه با چه فرمی برگذار شن صحبت کردیم. قرار شد احمد کریم پور هفته بعد درباره توسعه تست محور مطلبی رو ارائه بده.</p>
            </section>
          </article>
        </section>

      </section>
    </section>
    <svg class="bigTriangle  white-to-light-gray" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <!-- /Schedule -->

    <!-- Lara Pakhsh -->
    <section class="section section--larapakhsh" id="larapakhsh">
      <section class="wrapper">

        <header class="section-header">
          <h1><i class="fa fa-microphone"></i> لاراپخش</h1>
          <h3> پادکست های کانال لاراپخش رو گوش کنید !</h3>
        </header>
        <div class="grid-wrap col-set-one-quarter tablet-col-set-one-half phone-col-set-full">

          <div class="grid-col">
            <a target="_blank" href="http://shenoto.com/podcast/4878-%D9%84%D8%A7%D8%B1%D8%A7%D9%BE%D8%AE%D8%B4-%D9%82%D8%B3%D9%85%D8%AA-%D8%B4%D8%B4%D9%85-%D8%AF%DB%8C%D8%AA%D8%A7%D8%A8%DB%8C%D8%B3-%D9%87%D8%A7%DB%8C-nosql.html">
              <img src="http://shenoto.com/storage/media/cover/md/4878.jpg" alt="لاراپخش قسمت ششم" style="width: 100%;">
            </a>
            <h3>لاراپخش قسمت ششم</h3>
            <p>
              گفتگو با احمد مقدس خو در رابطه با دیتابیس های NoSql ...
            </p>
          </div>
          <div class="grid-col">
            <a target="_blank" href="http://shenoto.com/podcast/3561-%D9%84%D8%A7%D8%B1%D8%A7%D9%BE%D8%AE%D8%B4-%D9%82%D8%B3%D9%85%D8%AA-%D9%BE%D9%86%D8%AC%D9%85-%D8%A8%D8%A7%D8%B2%D8%A7%D8%B1-%DA%A9%D8%A7%D8%B1-%D9%88-%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87-%D9%86%D9%88%DB%8C%D8%B3%DB%8C-%D8%AF%D8%B1-%D8%A7%DB%8C%D8%B1%D8%A7%D9%86.html">
              <img src="http://shenoto.com/storage/media/cover/md/3561.jpg" alt="لاراپخش قسمت پنجم" style="width: 100%;">
            </a>
            <h3>لاراپخش قسمت پنجم</h3>
            <p>
              گفتگو با احمد مقدس خو در رابطه با بازار کار برنامه نویسی ...
            </p>
          </div>

          <div class="grid-col">
            <a target="_blank" href="http://shenoto.com/album/84-%D9%84%D8%A7%D8%B1%D8%A7%D9%BE%D8%AE%D8%B4-%D9%82%D8%B3%D9%85%D8%AA-%DA%86%D9%87%D8%A7%D8%B1%D9%85-%D9%85%D9%87%D9%86%D8%AF%D8%B3%DB%8C-%D9%86%D8%B1%D9%85-%D8%A7%D9%81%D8%B2%D8%A7%D8%B1-%D9%88-%D9%85%D8%A8%D8%A7%D8%AD%D8%AB-%D9%85%D8%B1%D8%AA%D8%A8%D8%B7-%D8%A8%D8%A7-%D8%A2%D9%86.html">
              <img src="http://shenoto.com/storage/album/cover/md/84.jpg" alt="لاراپخش قسمت چهارم | بهزاد شعبانی" style="width: 100%;">
            </a>
            <h3>لاراپخش قسمت چهارم</h3>
            <p>
              گفتگو با بهزاد شعبانی در رابطه با مهندسی نرم افزار و مباحث مرتبط با اون ...
            </p>
          </div>

          <div class="grid-col">
            <a target="_blank" href="http://shenoto.com/album/67-%D9%84%D8%A7%D8%B1%D8%A7%D9%BE%D8%AE%D8%B4-%D9%82%D8%B3%D9%85%D8%AA-%D8%B3%D9%88%D9%85-%D9%85%D9%86%D8%A7%D8%A8%D8%B9-%D8%A2%D9%85%D9%88%D8%B2%D8%B4%DB%8C-%D9%84%D8%A7%D8%B1%D8%A7%D9%88%D9%84-%D9%85%D8%B9%D8%B1%D9%81%DB%8C-elasticsearch-%D8%A8%D8%A7-%D8%B1%D8%B6%D8%A7-%D8%B4%D8%A7%D8%AF%D9%85%D8%A7%D9%86.html">
              <img src="http://shenoto.com/storage/album/cover/md/67.jpg" alt="لاراپخش قسمت سوم" style="width: 100%;">
            </a>
            <h3>لاراپخش قسمت سوم</h3>
            <p>
              گفتگو با رضا شادمان در رابطه با Elasticsearch - معرفی منابع فارسی و انگلیسی برای یادگیری لاراول
            </p>
          </div>
          <div class="grid-col">
            <a target="_blank" href="http://shenoto.com/album/49-%D9%84%D8%A7%D8%B1%D8%A7%D9%BE%D8%AE%D8%B4-%D9%82%D8%B3%D9%85%D8%AA-%D8%AF%D9%88%D9%85-%D9%85%D8%B9%D8%B1%D9%81%DB%8C-october-cms-%D9%88-%D9%85%D8%B5%D8%A7%D8%AD%D8%A8%D9%87-%D8%A8%D8%A7-%D9%85%D8%B1%D8%AA%D8%B6%DB%8C-%D9%BE%D8%B1%D9%88%DB%8C%D9%86%DB%8C.html">
              <img src="http://shenoto.com/storage/album/cover/md/49.jpg" alt="لاراپخش قسمت دوم" style="width: 100%;">
            </a>
            <h3>لاراپخش قسمت دوم</h3>
            <p>
              گفتگو با مرتضی پروینی در رابطه با امکانات لاراول -معرفی اکتبر سی ام اس، یک سی ام اس بر پایه ی لاراول
            </p>
          </div>
        </div>

      </section>
    </section>
    <svg class="bigTriangle light-gray-to-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <!-- /Lara Pakhsh -->

    <!-- Location -->
    <section class="section section--location" id="location">
      <section class="wrapper">
        <header class="section-header">
          <h1><i class="fa fa-map-marker"></i> محل برگزاری</h1>
          <h3>پنج‌شنبه، ۲۹ مهر ۱۳۹۵، ۱۷:۰۰ الی ۱۹:۰۰</h3>
          <h3>خیابان مرزداران، خیابان ابراهیمی، برج الوند، طبقه ۹ جنوبی، واحد ۹۰۶، دفتر ایوند</h3>
        </header>

        <p>

        </p>
      </section>
    </section>

    <!-- /Location -->

    <!-- Map -->
    <section class="section--map">
      <svg class="bigTriangle white-to-nothing" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
      <svg class="bigTriangle bigTriangle__bottom nothing-to-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 850 100" preserveAspectRatio="none">
            <polygon points="0,0 0,100 425,100 850,100 850,0 425,100 "/>
        </svg>
      <div class="map-container"></div>
    </section>
    <!-- /Map -->

    <!-- Sponsors -->
    <section class="section section--sponsors" id="sponsors">
      <section class="wrapper">

        <header class="section-header">
          <h1><i class="fa fa-building"></i> میزبان جلسه بعدی</h1>
          <h3>این دورهمی با یاری این دوستان امکان پذیر شده است.</h3>
        </header>

        <section class="sponsor-list">
          <a href="http://evand.ir" target="_blank" title="Evand | مدرن‌ترین ابزار فروش و مدیریت رویدادها"><img src="dist/img/sponsors/evand.png" alt="Evand | مدرن‌ترین ابزار فروش و مدیریت رویدادها" class="size-xl-v"></a>
          <p>
            برای برگزاری عالی جلسات ما نیاز به مکانی داریم که بشه تو اون برای ده پونزده نفر پرزنت کرد. اگر دوست دارید میزبان جلسه بعدی شما باشید لطفا با ما از طریق <a class="main-dark" href="http://twitter.com/laratalks_com" target="_blank"> توییتر</a>            ارتباط برقراری کنید.
          </p>
        </section>

      </section>
    </section>
    <svg class="bigTriangle white-to-green invert-side-nav" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <!-- /Sponsors -->
    <svg class="bigTriangle green-to-dark-gray" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <!-- /Organizers -->

    <!-- Footer -->
    <footer class="section section--footer">
      <section class="wrapper">
        <p>
          ما را در <a href="https://twitter.com/laratalks_com" target="_blank"><i class="fa fa-twitter"></i></a> دنبال کنید.<br> کپی رایت ۱۳۹۵. تا اونجا که میتونید با دوستاتون توی جلسات هفتگی شرکت کنید تا همدیگرو بشناسیم<br>
        </p>
        <hr>
        <p class="small">
          <a href="http://sallar.me" target="_blank">
                    طراحی: برگرفته از طرح سالار کابلی
                </a>
        </p>
      </section>
    </footer>
    <!-- /Footer -->


  </section>

  <!-- IE Notice -->
  <div class="ie-notice">
    <div class="inner">
      <h1>این وب‌سایت با مرورگرهای قدیمی سازگار نیست.</h1>
      <h2>لطفا از مرورگرهای مدرن استفاده کنید.</h2>
    </div>
  </div>
  <!-- /IE Notice -->

  <script type="text/template" id="people-random-sort-template">
    <% _.each(people, function(person, index) { %>
      <a href="<%= person.link %>" class="grid-col" target="_blank">
        <img src="<%= person.image %>" alt="<%= person.name %>">
        <h2><%= person.name %></h2>
        <h3><%= person.description %></h3>
        <% if(((index + 1) % 4) == 0) { %>
        <div class="clear"></div><br>
        <% } %>
    </a>
      <% }); %>
  </script>
  <script src="dist/js/main.min.js?v=3.3"></script>
  <script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(100805299);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    })();
  </script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100805299ns.gif" /></p></noscript>
</body>

</html>