<!doctype html>
<html lang="en">
<head>
    <title>دورهمی لاراول تهران</title>
    <meta charset="UTF-8">
    <meta name="author" content="Laratalks.ir">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <link rel="shortcut icon" href="/favicon.png?v=2.1">

    <meta property="og:title" content="laratalks | دورهمی لارول تهران"/>
    <meta property="og:site_name" content="دورهمی لاراول تهران"/>
    <meta property="og:description" content="دورهمی هفتگی برنامه نویسان لاراول تهران در این نشت ها حول توسعه نرم افزار، استارت آپ ها و کلا دنیای آی.تی بحث میش."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://laratalks.com"/>
    <meta property="og:image" content="http://laratalks.com/dist/img/laravel-azadi.png" />
    <meta name="google-site-verification" content="8zyPhoEN9PT4d24IP4du6r3fgZTMB6YKiiNvjnHmrwU" />

    <link rel="stylesheet" href="dist/css/style.min.css" media="all">
</head>
<body>
    <header class="masthead">
        <div class="overlay"></div>
        <section class="masthead__content">
            <h1>دورهمی برنامه نویسان لاراول تهران</h1>
        </section>
        <footer class="masthead__arrow">
            <h2 style="text-align: left; direction: ltr">#laratalks</h2>
            <a href="#"><i class="fa fa-chevron-circle-down fa-2x"></i></a>
        </footer>
    </header>

    <!-- Main Wrapper -->
    <section class="main-wrapper show-side-nav">
        
        <!-- Intro -->
        <section class="section section--intro" id="intro">
            <section class="wrapper">
                
                <header class="section-header">
                    <h1>دورهمی لاراول تهران</h1>
                    <h3>جلسه بعدی ۲ بهمن ۱۳۹۳ </h3>
                </header>

                <section class="grid-wrap col-set-one-half tablet-col-set-full">
                    <article class="grid-col">
                        <p>لاراول یه فریم ورک باحاله که استارت آپ های زیادی تو ایران و بیرون از ایران ازش استفاده میکنن.
                            تو ایران به خاطر رایج تر بودن زبان پی اچ پی نسبت به انتخاب های دیگه مثل پایتون و روبی برای توسعه در وب برنامه نویسای باحال لاراولی زیاد داریم. برای همین ما تصمیم گرفتیم هر هفته یا نهایتا یک هفته در میون جلساتی رو ترتیب بدیم و با هم درباره مسائل روز در
                            دنیای استارت آپ ها،‌ آی تی و مخصوصا لارول بحث میکنیم. </p>
                        <a href="#location" class="btn"><i class="fa fa-map-marker"></i> منم این هفته میام</a>
                        <p class="small"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; لاراتاکز هر هفته تو دفتر یه شرکت، یه کافه یا یه پارک برگزار میشه.</p>
                    </article>
                    <article class="grid-col">
                        <figure class="showcase grayable"></figure>
                    </article>
                </section>
                <section class="social">
                    <p><i class="fa fa-twitter"></i> از هش‌تگ <span class="hash"><a href="https://twitter.com/intent/tweet?hashtags=laratalks&amp;via=laratalks_com" target="_blank">#laratalks</a></span> در شبکه‌های اجتماعی استفاده کنید.</p>
                </section>

            </section>
        </section>
        <svg class="bigTriangle white-to-gray" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
        <!-- /Intro -->

        <!-- People -->
        <section class="section section--people" id="speakers">
            <section class="wrapper">
                
                <header class="section-header">
                    <h1><i class="fa fa-microphone"></i> شرکت کنندگان</h1>
                    <h3>تا حالا کیا توی جلسات دورهمی شرکت کردن ؟</h3>
                </header>

                <section id="random-people-place" class="grid-wrap col-set-one-quarter tablet-col-set-one-half phone-col-set-full"></section>

            </section>
        </section>
        <svg class="bigTriangle gray-to-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
        <!-- /People -->

        <!-- Schedule -->
        <section class="section section--schedule" id="schedule">
            <section class="wrapper">
                
                <header class="section-header">
                    <h1><i class="fa fa-calendar-o"></i> گزارش جلسات </h1>
                    <h3>بلاگ ما رو دنبال کنید</h3>
                </header>

                <section class="schedule">
                    <article class="schedule__row">
                        <aside>
                            پنجشنبه، ۱۱  دی، ۱۳۹۳
                        </aside>
                        <section>
                            <h3>معرفی و آشنایی</h3>
                            <h4>همه بچه ها</h4>
                            <p>تو جلسه پنج شنبه با هم آشنا شدیم و درباره اینکه چیکار کنیم که این جلسه ها برگزار شن و اینکه با چه فرمی برگذار شن صحبت کردیم. قرار شد احمد کریم پور هفته بعد درباره توسعه تست محور مطلبی رو ارائه بده.</p>
                        </section>
                    </article>
                    <article class="schedule__row">
                        <aside>
                            پنجشنبه، ۱۸  دی، ۱۳۹۳
                        </aside>
                        <section>
                            <h3>توسعه تست محور</h3>
                            <h4>احمد کریم پور</h4>
                            <p>تو این جلسه احمد کریم پور دباره توسعه تست محور و انواع تست و نحوه پیاده سازی صحبت کرد. و همینطور رایگیری کردیم در جلسات بعدی حول چه موضوعی صحبت کنیم.</p>
                        </section>
                    </article>                    <article class="schedule__row">
                    <aside>
                        پنج شنبه ۲ بهمن
                    </aside>
                    <section>
                        <h3>طراحی و توسعه یک CMS</h3>
                        <h4></h4>
                        <p>قرار هست تو این جلسه درباره طراحی و توسعه ی یک CMS بر پایه لاراول صحبت کنیم.</p>
                    </section>
                </article>

                </section>

            </section>
        </section>
        <svg class="bigTriangle white-to-light-gray" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
        <!-- /Schedule -->

        <!-- Location -->
        <section class="section section--location" id="location">
            <section class="wrapper">
                <header class="section-header">
                    <h1><i class="fa fa-map-marker"></i> محل برگزاری</h1>
                    <h3>پنجشنبه 9 بهمن ماه 1393 - 17:00 الی 19:00</h3>
                    <h3>خیابان منوچهری، کوچه گودرزی، انتهایی کوچه پلاک ۱۴ (ساختمان شماره یازده البرز)، طبقه ۲، واحد ۸</h3>
                </header>

                <p>

                </p>
            </section>
        </section>

        <!-- /Location -->

        <!-- Map -->
        <section class="section--map">
            <svg class="bigTriangle light-gray-to-nothing" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
                <path d="M0 0 L50 100 L100 0 Z" />
            </svg>
            <svg class="bigTriangle bigTriangle__bottom nothing-to-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 850 100" preserveAspectRatio="none">
                <polygon points="0,0 0,100 425,100 850,100 850,0 425,100 "/>
            </svg>
            <div class="map-container"></div>
        </section>
        <!-- /Map -->

        <!-- Sponsors -->
        <section class="section section--sponsors" id="sponsors">
            <section class="wrapper">
                
                <header class="section-header">
                    <h1><i class="fa fa-heart"></i> حامیان</h1>
                    <h3>این دورهمی با یاری این دوستان امکان پذیر شده است.</h3>
                </header>

                <section class="sponsor-list">
                    <h3 class="dark-gray">هنوز کسی حامی ما نشده</h3>
                    <p>
                        برای برگزاری عالی جلسات ما نیاز به مکانی داریم که بشه تو اون برای  ده پونزده نفر پرزنت کرد. اگه دوست دارید یکی از کسایی باشید که  دورهمی رو  میزبانی کنید لطفا با ما از طریق <a class="main-dark" href="http://twitter.com/laratalks_com" target="_blank"> توییتر</a> ارتباط برقراری کنید.
                    </p>
                </section>

            </section>
        </section>
        <svg class="bigTriangle white-to-green invert-side-nav" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
        <!-- /Sponsors -->
        <svg class="bigTriangle green-to-dark-gray" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
        <!-- /Organizers -->

        <!-- Footer -->
        <footer class="section section--footer">
            <section class="wrapper">
                <p>
                    ما را در <a href="https://twitter.com/laratalks_com" target="_blank"><i class="fa fa-twitter"></i></a> دنبال کنید.<br>
                    کپی رایت ۱۳۹۳. تا اونجا که میتونید با دوستاتون توی جلسات هفتگی شرکت کنید تا همدیگرو بشناسیم<br>
                </p>
                    <hr>
                <p class="small">
                    <a href="http://sallar.me" target="_blank">
                        طراحی: برگرفته از طرح سالار کابلی
                    </a>
                </p>
            </section>
        </footer>
        <!-- /Footer -->


    </section>

    <!-- IE Notice -->
    <div class="ie-notice">
        <div class="inner">
            <h1>این وب‌سایت با مرورگرهای قدیمی سازگار نیست.</h1>
            <h2>لطفا از مرورگرهای مدرن استفاده کنید.</h2>
        </div>
    </div>
    <!-- /IE Notice -->

    <script type="text/template" id="people-random-sort-template">
        <% _.each(people, function(person, index) { %>
        <a href="<%= person.link %>" class="grid-col" target="_blank">
            <img src="<%= person.image %>" alt="<%= person.name %>">
            <h2><%= person.name %></h2>
            <h3><%= person.description %></h3>
            <% if(((index + 1) % 4) == 0) { %>
            <div class="clear"></div><br>
            <% } %>
        </a>
        <% }); %>
    </script>
    <script src="dist/js/main.min.js?v=2.2"></script>
    <script type="text/javascript">
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(100805299);
        (function() {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//static.getclicky.com/js';
            ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
        })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100805299ns.gif" /></p></noscript>
</body>
</html>
